# Environnement
.env
venv/
.venv/
__pycache__/
*.pyc

# Données et modèles
data/
output/
*.pt
*.bin
*.safetensors
wandb/

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log
logs/
llama.cpp/
functiongemma-ha-merged/Functiongemma-Ha-Merged-268M-F16.gguf
